# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.joblib

# Envs
.venv/
env/
venv/

# VSCode / IDE
.vscode/
.idea/

# Azure ML local outputs
aml_config/
*.log

# Data / model outputs (if large)
data/
outputs/
